//This helps in connecting the client with the algorand network
const algoServer= https://testnet-algorand.api.purestake.io/ps2
const algoPort='';
const token = {
    'X-API-Key': ''//Your APi key here
 }
